{{define "main"}}
<br>
<section class="page">
  <h1 class="title-center">{{.Title}}</h1>
        <!-- List all tags -->

{{if eq .Section "blog"}}
    <h3>Recent Tags:</h3>
  <div class="tags">
    {{ range .Pages}}
    {{range .Params.Tags }}
    <span class='label' style='margin: 0.4em'>
        <a style="color: white; text-decoration: none;" href='{{ "tags/" | relLangURL }}{{.}}'>{{.}}</a>
      </span>
      {{ end }}
      {{end}}
  </div>
  {{ end }}
        {{ range .Pages}}
          <div class="col-md-4">
            {{if eq .Section "blog"}}
              <well class="well">
                  <h3><a class="link" href="{{.Permalink}}">{{.Title}}</a></h3>
                  <div class="list-item">
                        <small class="label-dark">{{ .PublishDate.Format "January 2, 2006" }}</small>
                      {{ $author := "false" }}
                      {{  if not (eq .Params.Author $author) }}
                        <p style="margin-right: 20px"><b>By : </b><a class="link"  href="{{ .Params.author_about }}">{{ .Params.Author }}</a></p>
                      {{ end }}
                        <p ><b>Reading Time:</b> {{.ReadingTime}} min</p>
                  </div>
                  <p>{{ .Summary }}</p>
              </well>
              {{end}}            
          </div><br>
        {{end}}
    </div>
</section>
{{end}}
